/* $Id: grayscale.css,v 1.4 2010/03/27 09:18:40 mehrpadin Exp $ */
.sf-menu.sf-style-grayscale a {
  border-top: 1px solid #777777;
  border-left: 1px solid #777777;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  color: #FFFFFF !important;
  margin: 0 1px 1px 0;
}
.sf-navbar.sf-style-grayscale a {
  border: 0;  

}
.sf-menu.sf-style-grayscale li,
.sf-menu.sf-style-grayscale li li,
.sf-menu.sf-style-grayscale li li li,
.sf-navbar.sf-style-grayscale {
  background: #444444;
}
.sf-menu.sf-style-grayscale li:hover,
.sf-menu.sf-style-grayscale li.sfHover,
.sf-menu.sf-style-grayscale li.active a,
.sf-menu.sf-style-grayscale a:focus,
.sf-menu.sf-style-grayscale a:hover,
.sf-menu.sf-style-grayscale a:active,
.sf-navbar.sf-style-grayscale li li {
  background: #4E4E4E;
  color: #ffffff !important;
}
.sf-navbar.sf-style-grayscale li ul {
  background-color: #900;
  width: 100%;
}
.sf-navbar.sf-style-grayscale li ul li ul {
  background-color: transparent;
}