/* $Id: light-gray.css,v 1.4 2010/03/27 09:18:40 mehrpadin Exp $ */
.sf-menu.sf-style-light-gray a {
  border: 1px dotted #CCCCCC;
  border-collapse:collapse;
  color: #FFFFFF !important;
  margin:1px;
}
.sf-navbar.sf-style-light-gray a {
  border: 0;  

}
.sf-menu.sf-style-light-gray li,
.sf-menu.sf-style-light-gray li li,
.sf-menu.sf-style-light-gray li li li,
.sf-navbar.sf-style-light-gray {
  background: #8F8F8F;
}
.sf-menu.sf-style-light-gray li:hover,
.sf-menu.sf-style-light-gray li.sfHover,
.sf-menu.sf-style-light-gray li.active a,
.sf-menu.sf-style-light-gray a:focus,
.sf-menu.sf-style-light-gray a:hover,
.sf-menu.sf-style-light-gray a:active,
.sf-navbar.sf-style-light-gray li li {
  background: #999999;
  color: #ffffff !important;
}
.sf-navbar.sf-style-light-gray li ul {
  background-color: #900;
  width: 100%;
}
.sf-navbar.sf-style-light-gray li ul li ul {
  background-color: transparent;
}