/* $Id: nature.css,v 1.4 2010/03/27 09:18:40 mehrpadin Exp $ */
.sf-menu.sf-style-nature a {
  border-top: 1px solid #B99C82;
  border-left: 1px solid #B99C82;
  border-right: 1px solid #70563F;
  border-bottom: 1px solid #70563F;
  color: #f1f1f1 !important;
}
.sf-navbar.sf-style-nature a {
  border: 0;
}
.sf-menu.sf-style-nature li,
.sf-menu.sf-style-nature li li,
.sf-menu.sf-style-nature li li li,
.sf-navbar.sf-style-nature {
  background: #967354;
}
.sf-menu.sf-style-nature li:hover,
.sf-menu.sf-style-nature li.sfHover,
.sf-menu.sf-style-nature li.active a,
.sf-menu.sf-style-nature a:focus,
.sf-menu.sf-style-nature a:hover,
.sf-menu.sf-style-nature a:active,
.sf-navbar.sf-style-nature li li {
  background: #709E01;
  color: #ffffff !important;
}
.sf-navbar.sf-style-nature li ul {
  background-color: #900;
  width: 100%;
}
.sf-navbar.sf-style-nature li ul li ul {
  background-color: transparent;
}