/* $Id: red.css,v 1.4 2010/03/27 09:18:40 mehrpadin Exp $ */
.sf-menu.sf-style-red a {
  border-top: 1px solid #F00;
  border-left: 1px solid #F00;
  border-right: 1px solid #7D0000;
  border-bottom: 1px solid #7D0000;
  color: #f1f1f1 !important;
}
.sf-navbar.sf-style-red a {
  border: 0;
}
.sf-menu.sf-style-red li,
.sf-menu.sf-style-red li li,
.sf-menu.sf-style-red li li li,
.sf-navbar.sf-style-red {
  background: #C00;
}
.sf-menu.sf-style-red li:hover,
.sf-menu.sf-style-red li.sfHover,
.sf-menu.sf-style-red li.active a,
.sf-menu.sf-style-red a:focus,
.sf-menu.sf-style-red a:hover,
.sf-menu.sf-style-red a:active,
.sf-navbar.sf-style-red li li {
  background: #D70000;
  color: #ffffff !important;
}
.sf-navbar.sf-style-red li ul {
  background-color: #900;
  width: 100%;
}
.sf-navbar.sf-style-red li ul li ul {
  background-color: transparent;
}